@model List<Property>
@{
    ViewData["Title"] = "Оренда";
}

<div class="property-list">
    @foreach (var property in Model)
    {
        <a href="@Url.Action("Index", "PropertyDetails", new { id = property.PropertyID })">
            <div class="property-card">
                <img src="@property.Pictures" alt="Нерухомість" />
                <div class="card-body">
                    <p class="price">Ціна: @Convert.ToInt32(property.RentPrice) грн/міс.</p>
                </div>
            </div>
        </a>
    }
</div>