@{
    Layout = "_adminLayout";
}
<div class="d-flex align-items-center justify-content-center flex-column" style="height: 80vh;">
    <h1 class="text-center">Ви знаходитесь в адмін-панелі сайту Real Estate Agency</h1>
    <h2 class="text-center">Виберіть необхідний пункт в меню зверху</h2>
</div>