* {
    font-family: Bahnschrift !important;
}
// Основные стили
body {
    
}

h1 {
    margin-bottom: 20px;
}

// Стили таблицы
.table {
    margin-bottom: 20px;
}

// Стили для навигационного меню
.navbar {
    margin-bottom: 20px;
}
