@{
    ViewData["Title"] = "Відгуки";
}
<style>
    .center-element {
        width: 75%;
        margin: 0 auto;
    }
</style>
<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 center-element">
            <div id="commento"></div>
        </div>
    </div>
</div>