@model RealEstateAgency.Models.AdminRegistrationViewModel

@{
    Layout = "_adminLayout";
}
<div class="center-form">
    <div class="form-container">
        <form asp-page-handler="Create">
            <body>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Логін</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Підтвердіть пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="w-100 text-center">
                    <input type="submit" value="Додати" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary mt-3">Повернутись до списку</a>
                </div>
            </body>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}