@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    Layout = "_adminLayout";
}
<div class="center-form">
    <div class="form-container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="w-100 text-center">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary mt-3">Повернутись до списку</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}
